VS_VERSION_INFO VERSIONINFO
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
  {
      VALUE "FileDescription", "let's take a look... 👀\0"
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductName", "OBJ to mesh\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "CompanyName", "T10-Studio\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 1200
  }
}
